<!DOCTYPE html>

<html>

<head>

    <title>{{ matricula.alumno }}</title>

</head>

<body>

<h1>{{ matricula.alumno }}</h1>

<p>
    <strong>Asignatura:</strong>
    {{ matricula.asignatura }}
</p>

<p>
    <strong>Curso_academico:</strong>
    {{ matricula.curso_academico }}
</p>

<p>

    <a href="{% url 'matriculas:editar' matricula.pk %}">
        Editar
    </a>

    <a href="{% url 'matriculas:borrar' matricula.pk %}">
        Borrar
    </a>

    <a href="{% url 'matriculas:lista' %}">
        Volver
    </a>

</p>

</body>

</html>