<!DOCTYPE html>

<html>

<head>

    <title>

        {% if modo == "editar" %}
        Editar
        {% else %}
        Crear
        {% endif %}

        matricula

    </title>

</head>

<body>

<h1>

    {% if modo == "editar" %}
    Editar
    {% else %}
    Crear
    {% endif %}

    matricula

</h1>

<form method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Guardar
    </button>

    <a href="{% url 'matriculas:lista' %}">
        Cancelar
    </a>

</form>

</body>

</html>